@font-face {
    font-family: jf;
    src: url(../jf.ttf);
}

* {
    font-family: jf;
}

.label-sm {
    width: 120px !important;
    display: inline-block;
    color: #fff;
}

.color-5 {
    color: #555;
}

* {
    direction: rtl;
}

.page-header.navbar .page-logo .logo-default {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    height: 30px;
    display: inline-block;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
    word-break: break-all;
    min-width: 100px;
}

.table .btn {
    margin-top: 5px;
}

.login .logo {
    margin-top: 0;
}

.box {
    width: 10px;
    height: 10px;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 10px;
    word-spacing: 30px;

}

.color-fill-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    background-color: #fff;
    margin: 2px;
}

.dropdown-color-fill-icon {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 8px;
}

.well .markup {
    background: #fff;
    color: #777;
    position: relative;
    padding: 45px 15px 15px;
    margin: 15px 0 0 0;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: none;
}

.well .markup::after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.color-container {
    height: 20px;
}


.checkbox label{
    padding-right: 20px;
}